<?xml version="1.0" encoding="UTF-8"?>

<web-app  
  xmlns="http://java.sun.com/xml/ns/javaee" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
     http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  
  	<servlet>
  		<servlet-name>Test</servlet-name>
  		<servlet-class>com.octest.servlets.Test</servlet-class>
  		<multipart-config>
            <location>/home/mdbekkouche/bekkouche89/fichierstmp/</location> <!-- A adapter chez vous -->
            <max-file-size>10485760</max-file-size> <!-- 10 Mo -->
            <max-request-size>52428800</max-request-size> <!-- 5 x 10 Mo -->
            <file-size-threshold>1048576</file-size-threshold> <!-- 1 Mo -->
        </multipart-config>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>Test</servlet-name>
  		<url-pattern>/bonjour</url-pattern>
  	</servlet-mapping>
  
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
 </web-app>